/* You can add global styles to this file, and also import other style files */
@import url(fonts.scss);
body {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
  background-color: #979797;
}
* {
  font: 1em creato;
  font-weight: 500;
}
